:root {
  --body-text-color: #434455;
  --body-bg-color: #fff;
  --bright_text-color: #f4f4fd;
  --headings-color: #2e2f42;
  --primary-brand-color: #4d5ae5;
  --active-button-color: #404bbf;
  --portfolio-border-color: #e7e9fc;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--body-text-color);
  background-color: var(--body-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.container {
  max-width: 1440px;
}

/*Navigation-section*/

.header-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}

.logo {
  color: var(--primary-brand-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 24px 0;
}

.logo-accent {
  color: var(--headings-color);
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: var(--headings-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: inline-block;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--active-button-color);
}

.address-section {
  font-style: normal;
}

.contacts-link {
  color: var(--body-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--active-button-color);
}

/*Hero-section*/

.hero-section,
.footer {
  background-color: var(--headings-color);
}

.hero-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 188px 472px 292px;
}

.hero-title {
  color: var(--body-bg-color);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.button {
  color: var(--body-bg-color);
  background-color: var(--primary-brand-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--active-button-color);
}

/*Features-section*/

.features-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-list-title {
  color: var(--headings-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/*Team-section*/

.team-section {
  background-color: var(--bright_text-color);
}

.section-title {
  color: var(--headings-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

.team-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--body-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-list-title {
  color: var(--headings-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 32px;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.img {
  display: block;
  max-width: 100%;
}

/*Portfolio-section*/

.portfolio-inner {
  display: flex;
  align-items: center;
}

.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--portfolio-border-color);
}

.portfolio-list-title {
  color: var(--headings-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 32px;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

/*Footer-section*/

.footer-inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.logo {
  margin-bottom: 16px;
}

.footer-logo-accent {
  color: var(--bright_text-color);
}

.footer-text {
  color: var(--bright_text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
